.showTaskcContainer {
    display: flex;
    color: white;
    justify-content: center;
    justify-content: space-around;
    margin: 25px;
}

.icons {
    display: flex;
}

.icons div {
    margin: 0 20px;
    padding: 10px;
    cursor: pointer;
}

.check {
    padding: 15px;
    width: 50px;
    cursor: pointer;
}

button {
    padding: 10px;
    margin: 10px 10px 10px 30px;
    width: 150px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}